<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/sad-hamster-v0-lc48795mb0kc1.webp" alt="" class="img-thumbnail rounded-circle "
                width="200px">
            <h1 class="display-4">Toko Apotek Cempaka</h1>
            <p class="lead">Pengelolaan Obat</p>
        </div>
    </div>
</div>