<!-- <div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Featured
        </div>

        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kode Obat</th>
                    <th scope="col">Nama Obat</th>
                    <th scope="col">Aksi</th>
                </tr>
            </table>

        </div>
    </div>
</div> -->